* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#698cbf, #9bb2e5);
}

.location, .temperature {
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.location {
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.link {
    color: white;
    text-decoration: none;
}